* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background-color: black;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    position: relative;
    text-align: center;
}

div p {
    text-align: center;
}

a.link {
    color: aquamarine;
    font-size: 16px;
    position: relative;
    text-align: center;
    margin: 0, auto;
}
